* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  min-height: 5300px;
  overflow-x: hidden;
}

.container {
  width: 1500px;
  /*background-color: red;*/
  margin: 0 auto;
}

ul {
  list-style-type: none;
  float: right;
  margin-right: 20px;
}
ul li {
  margin-top: 30px;
  display: inline-block;
  line-height: 30px;
}

ul li::after {
  content: "";
  clear: both;
  display: table;
}

ul li a {
  font-size: 20px;
  padding-left: 70px;
  letter-spacing: 0.2px;
}

#logo {
  margin-top: 21px;
  /*float: left;*/
  display: inline-block;
}

logo::after {
  content: "";
  clear: both;
  display: table;
}

#headline {
  margin-top: 227px;
  width: 732px;
  letter-spacing: 0.2px;
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
  color: #263238;
}

#subheadline {
  letter-spacing: 0.2px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  margin-top: 24px;
  width: 732px;
  color: #263238;
}

.middle {
  display: inline-block;
}
#heroIll {
  float: right;
  width: 733.16px;
  margin-top: 114px;
}

.download {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  margin-top: 32px;
  color: white;
  background-color: #ff725e;
  border-radius: 1092px;
  border: none;
  height: 66px;
  text-align: center;
  width: 279px;
  letter-spacing: 0.2px;
}

.down {
  font-weight: 700;
}

.nadpis {
  color: #263238;
  letter-spacing: 0.2px;
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  line-height: 54px;
  margin: 0 auto;
  margin-top: 248px;
}

#box1 {
  width: 480px;
  height: 526px;
  background-color: #ff725e;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#box2 {
  width: 480px;
  height: 526px;
  background-color: #ff725e;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#box3 {
  width: 480px;
  height: 526px;
  background-color: #ff725e;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.obrazok {
  margin: auto;
  margin-top: 32px;
}

.featuresHeadline {
  font-size: 30px;
  color: white;
  letter-spacing: 0.2px;
  font-weight: 800;
  line-height: 45px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.featuresParagraph {
  margin: auto;
  font-size: 20px;
  width: 417px;
  color: white;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 32px;
  margin-top: 10px;
}

#about {
  margin-top: 200px;
}

.featuresParagraph em {
  font-weight: 600;
}

.paragraph {
  font-size: 20px;
  width: 741px;
  color: #263238;
  line-height: 30px;
  letter-spacing: 0.2px;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.details {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: white;
  background-color: #263238;
  border-radius: 1092px;
  border: none;
  height: 46px;
  text-align: center;
  width: 99.9%;
  margin: 0 auto;
  margin-top: 18px;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #263238;
}

.details a {
  text-decoration: none;
  color: white;
}

.details a:visited {
  text-decoration: none;
  color: white;
}

.nadpisA {
  color: #263238;
  letter-spacing: 0.2px;
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  line-height: 54px;
  margin: 0 auto;
  margin-top: 200px;
}

.nadpisA small {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.paragraph span {
  font-weight: 600;
}

#companies {
  margin-top: 168px;
  background-color: #ff725e;
  display: inline-block;
  text-align: left;
  width: 100%;
  padding-top: 32px;
  padding: 32px 0px 32px;
}
#companies img {
  vertical-align: middle;
}

#companies a {
  margin: 0 40px;
}

#companies a:first-child {
  margin-left: 0px;
}

.nadpisC {
  color: white;
  letter-spacing: 0.2px;
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  line-height: 54px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.nadpisB {
  color: #263238;
  letter-spacing: 0.2px;
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  line-height: 54px;
  margin: 0 auto;
  margin-top: 168px;
}

.detail {
  color: #263238;
  letter-spacing: 0.2px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 45px;
}

.lowerDetail {
  color: #263238;
  letter-spacing: 0.2px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 27px;
}

.lowerDetail strong {
  font-weight: 700;
}

.tlacidlo {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: white;
  background-color: #ff725e;
  /*border-radius: 1000px;*/
  border: none;
  height: 50px;
  /*text-align: center;*/
  width: 550px;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 1092px;
}

.tlacidlo a {
  text-decoration: none;
  color: white;
}

.tlacidlo a:visited {
  text-decoration: none;
  color: white;
}

.poznamka {
  color: #263238;
  letter-spacing: 0.2px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 27px;
  margin-top: 0px;
}
